fluxo_automacao_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5e0c1993-9712-43b0-9c02-bb9b245c8688",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5000/api/v1/fiscal",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "0c542953-e48b-4f9c-9237-06382027cb8e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d22d830-9c9a-4fac-a73e-d7d163af0f5b",
              "leftValue": "={{ $json.status_documentos }}",
              "rightValue": "Pendente",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "5774128c-ccf6-41b2-81b4-d292c64641be",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4ac5751-8456-4d03-8bef-bc45a76c41c9",
              "name": "mensagem_alerta",
              "value": "=Atenção Equipe Xxxxx! O cliente {{ $json.cliente }} (CNPJ: {{ $json.cnpj }}) está com o status de documentos PENDENTE. O faturamento registrado foi de R$ {{ $json.faturamento }}. É necessário entrar em contato imediatamente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "304db6bd-fc67-4e59-a305-3b715bfdd13a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "3d858d99-3f6b-43da-9e09-3c847386fd0c",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c0382f43-4296-47ca-9a55-38c9550021d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b8df79ae965dd10b806947ce509518e04827c675cc77b581335d1155bfaacf2"
  },
  "id": "PTq2NiK2Y80ZMdQJ",
  "tags": []
}